.news-widget-container{
    height: 500px;
    width: 100%;
    background-color: #0a0a0f;
    border: 1px solid #23232f;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
    overflow: hidden;
}
.news-widget-wrapper{
    width: 100%;
    padding: 40px 0px;
}
.news-tesla-widget{
    padding: 0px ;
    width: 95%;
}
